.create{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

}
.ccreate{
    background-color: white;
}
.create label{
    text-align: left;
    display: block;
}
.create h2{
    font-size: 22px;
    color: blue;
    margin-bottom: 30px;
}
.create input, .create textarea{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 20px;
}
.create button{
    background: cornflowerblue;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
